In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymysql
import os
import warnings

plt.rcParams['font.family'] = 'NanumGothicCoding'
plt.rcParams['font.size'] = 12
plt.rcParams['figure.dpi'] = 100
warnings.filterwarnings('ignore')

In [3]:
# https://home.kepco.co.kr/kepco/KO/ntcob/list.do?boardCd=BRD_000097&menuCd=FN05030101
reader = pd.read_excel('datas/2019_12_sc.xlsx', sheet_name='21-1.산업분류별 행정구역별 판매전력량')
reader.to_csv('201912_power_data.csv')

In [4]:
# csv 파일 다듬기
power = pd.read_csv('201912_power_data.csv')
power.columns = power.iloc[2]
power = power.drop([0,1,2])

In [5]:
# DataFrame에 데이터 넣고 다듬기
city = [4,5,6,7,8,9,10,20,11,12,13,14,15,16,17,18,19]
code = [11,21,22,23,24,25,26,29,31,32,33,34,35,36,37,38,39]
year = [2019]*17
month = [12]*17
home = []
office = []
industry = []
for i in city:
    home.append(power.iloc[0,i])
    office.append(power.iloc[7,i])
    industry.append(power.iloc[40,i])

power_df = pd.DataFrame({'local_id': code, 'year': year, 'month': month, 'home': home, 'office': office, 'industry': industry})
power_df.home = power_df.home.astype(float).astype(int)
power_df.office = power_df.office.astype(float).astype(int)
power_df.industry = power_df.industry.astype(float).astype(int)

In [6]:
power_df

    local_id  year  month     home   office  industry
0         11  2019     12  1097870  2717669    137056
1         21  2019     12   377074   747569    618818
2         22  2019     12   265313   546723    479806
3         23  2019     12   340396   775877    994895
4         24  2019     12   166000   322187    223063
5         25  2019     12   157417   446472    196752
6         26  2019     12   125660   327832   2425069
7         29  2019     12    41876   101637    135342
8         31  2019     12  1521531  3808512   5469176
9         32  2019     12   178799   768219    560345
10        33  2019     12   182951   612727   1560025
11        34  2019     12   240287   811655   3448754
12        35  2019     12   199481   565632   1164479
13        36  2019     12   196135   635490   1891801
14        37  2019     12   291363   952286   2452276
15        38  2019     12   372380   900831   1738707
16        39  2019     12    69800   233353    136203

In [7]:
power_df.to_csv('sale_by_201912_covid_sc.csv',index=False)
filePath = '201912_power_data.csv'
if os.path.exists(filePath):
    os.remove(filePath)
    print(f"{filePath} has been deleted")
else:
    print(f"{filePath} does not exist")
power_df

201912_power_data.csv has been deleted

    local_id  year  month     home   office  industry
0         11  2019     12  1097870  2717669    137056
1         21  2019     12   377074   747569    618818
2         22  2019     12   265313   546723    479806
3         23  2019     12   340396   775877    994895
4         24  2019     12   166000   322187    223063
5         25  2019     12   157417   446472    196752
6         26  2019     12   125660   327832   2425069
7         29  2019     12    41876   101637    135342
8         31  2019     12  1521531  3808512   5469176
9         32  2019     12   178799   768219    560345
10        33  2019     12   182951   612727   1560025
11        34  2019     12   240287   811655   3448754
12        35  2019     12   199481   565632   1164479
13        36  2019     12   196135   635490   1891801
14        37  2019     12   291363   952286   2452276
15        38  2019     12   372380   900831   1738707
16        39  2019     12    69800   233353    136203