In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pymysql
from sqlalchemy import create_engine 
import warnings

warnings.filterwarnings('ignore')
plt.rcParams['font.family'] = 'NanumGothicCoding'
plt.rcParams['font.size'] = 12
plt.rcParams['figure.dpi'] = 100

In [2]:
# 주민등록 인구 및 세대현황 (2020.01 ~ 2022.12)
# https://jumin.mois.go.kr/index.jsp
reader = pd.read_excel('datas/202001_202212_주민등록인구및세대현황_월간_sc.xlsx')
reader.to_csv('population_rawdata.csv')

In [3]:
# csv 파일 다듬기
population = pd.read_csv('population_rawdata.csv')
population.columns = population.iloc[1]
population.drop([0,1,2], inplace=True)
population

1,1,행정기관코드,행정기관,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율,총인구수,...,세대당 인구,남자 인구수,여자 인구수,남여 비율,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
3,3,1100000000,서울특별시,"9,733,509","4,334,918",2.25,"4,745,088","4,988,421",0.95,"9,736,962",...,2.12,"4,574,781","4,862,055",0.94,"9,428,372","4,446,296",2.12,"4,570,048","4,858,324",0.94
4,4,2600000000,부산광역시,"3,411,819","1,499,152",2.28,"1,674,202","1,737,617",0.96,"3,410,925",...,2.13,"1,621,486","1,698,790",0.95,"3,317,812","1,555,867",2.13,"1,619,915","1,697,897",0.95
5,5,2700000000,대구광역시,"2,436,488","1,032,478",2.36,"1,204,387","1,232,101",0.98,"2,432,883",...,2.21,"1,164,024","1,201,595",0.97,"2,363,691","1,070,873",2.21,"1,162,865","1,200,826",0.97
6,6,2800000000,인천광역시,"2,956,119","1,239,915",2.38,"1,481,749","1,474,370",1.01,"2,954,955",...,2.24,"1,484,103","1,480,717",1.00,"2,967,314","1,322,632",2.24,"1,485,175","1,482,139",1.00
7,7,2900000000,광주광역시,"1,456,688","617,379",2.36,"720,931","735,757",0.98,"1,456,121",...,2.19,"707,815","724,234",0.98,"1,431,050","652,355",2.19,"707,299","723,751",0.98
8,8,3000000000,대전광역시,"1,474,152","636,203",2.32,"736,259","737,893",1.00,"1,473,125",...,2.15,"721,609","725,140",1.00,"1,446,072","673,429",2.15,"721,245","724,827",1.00
9,9,3100000000,울산광역시,"1,147,037","469,007",2.45,"589,233","557,804",1.06,"1,145,710",...,2.29,"570,756","540,615",1.06,"1,110,663","486,143",2.28,"570,368","540,295",1.06
10,10,3600000000,세종특별자치시,"342,328","136,056",2.52,"170,729","171,599",0.99,"343,788",...,2.41,"190,987","191,783",1.00,"383,591","159,386",2.41,"191,389","192,202",1.00
11,11,4100000000,경기도,"13,250,368","5,480,444",2.42,"6,665,310","6,585,058",1.01,"13,265,377",...,2.30,"6,836,309","6,746,929",1.01,"13,589,432","5,913,694",2.30,"6,839,276","6,750,156",1.01
12,12,4200000000,강원도,"1,540,540","720,119",2.14,"774,866","765,674",1.01,"1,539,521",...,2.04,"773,182","763,681",1.01,"1,536,498","755,481",2.03,"772,947","763,551",1.01
13,13,4300000000,충청북도,"1,599,391","722,726",2.21,"810,129","789,262",1.03,"1,598,599",...,2.07,"810,731","784,553",1.03,"1,595,058","771,848",2.07,"810,782","784,276",1.03
14,14,4400000000,충청남도,"2,122,455","960,438",2.21,"1,081,552","1,040,903",1.04,"2,120,995",...,2.08,"1,086,076","1,036,281",1.05,"2,123,037","1,019,093",2.08,"1,086,632","1,036,405",1.05
15,15,4500000000,전라북도,"1,817,302","817,017",2.22,"903,385","913,917",0.99,"1,815,112",...,2.07,"881,151","889,688",0.99,"1,769,607","855,849",2.07,"880,592","889,015",0.99
16,16,4600000000,전라남도,"1,864,712","872,739",2.14,"935,962","928,750",1.01,"1,861,894",...,2.00,"915,677","902,807",1.01,"1,817,697","907,710",2.00,"915,272","902,425",1.01
17,17,4700000000,경상북도,"2,662,508","1,228,044",2.17,"1,340,346","1,322,162",1.01,"2,658,956",...,2.02,"1,312,637","1,289,415",1.02,"2,600,492","1,286,873",2.02,"1,311,881","1,288,611",1.02
18,18,4800000000,경상남도,"3,361,344","1,453,042",2.31,"1,691,504","1,669,840",1.01,"3,358,828",...,2.16,"1,652,807","1,630,042",1.01,"3,280,493","1,516,930",2.16,"1,651,675","1,628,818",1.01
19,19,5000000000,제주특별자치도,"670,749","293,362",2.29,"337,231","333,518",1.01,"670,876",...,2.18,"339,758","338,615",1.00,"678,159","311,355",2.18,"339,590","338,569",1.00

In [4]:
# 2020-01 ~ 2022-12 까지
period_arr = []
for year in range(2020,2023):
    for month in range(1,13):
        period_arr.append(f'{year}-{month:02d}')
# 도시별, 년-월별 총인구수 입력
cities_dic = {'서울': {}, '부산': {}, '대구': {}, '인천': {}, '광주': {}, '대전': {}, '울산': {}, '세종': {}, '경기': {},
              '강원': {}, '충북': {}, '충남': {}, '전북': {}, '전남': {}, '경북': {}, '경남': {}, '제주': {}}
diff = 6 # 한 년-월이 가지고있는 데이터의 수
for i,cityName in enumerate(cities_dic.keys()):
    for j,period in enumerate(period_arr):
        cities_dic[cityName][period] = population.iloc[i,3+diff*j]

In [5]:
# DB에 넣을 데이터로 가공
population_df = pd.DataFrame({'local_id': [], '년-월': [], '총인구수': []})
cityCode_dic = {'서울': 11, '부산': 21, '대구': 22, '인천': 23, '광주': 24, '대전': 25, '울산': 26, '세종': 29, '경기': 31,
                '강원': 32, '충북': 33, '충남': 34, '전북': 35, '전남': 36, '경북': 37, '경남': 38, '제주': 39}

for cityName,cityCode in cityCode_dic.items():
    tmp_code = pd.DataFrame([cityCode]*len(cities_dic[cityName]))
    tmp_date = pd.DataFrame(cities_dic[cityName].keys())
    tmp_num = pd.DataFrame(cities_dic[cityName].values())
    tmp_cityData_df = pd.concat([tmp_code,tmp_date,tmp_num], axis=1)
    tmp_cityData_df.columns = ['local_id', '년-월', '총인구수']
    population_df = pd.concat([population_df,tmp_cityData_df], axis=0)
# 정수화
population_df.local_id = population_df.local_id.astype(int)
population_df.총인구수 = population_df.총인구수.str.replace(',', '').astype(int)

In [6]:
population_df.to_csv('population_data_sc.csv', index=False)
filePath = 'population_rawdata.csv'
if os.path.exists(filePath):
    os.remove(filePath)
    print(f"{filePath} has been deleted")
else:
    print(f"{filePath} does not exist")
population_df

population_rawdata.csv has been deleted

    local_id      년-월     총인구수
0         11  2020-01  9733509
1         11  2020-02  9736962
2         11  2020-03  9733655
3         11  2020-04  9726787
4         11  2020-05  9724496
..       ...      ...      ...
31        39  2022-08   679016
32        39  2022-09   678426
33        39  2022-10   678324
34        39  2022-11   678373
35        39  2022-12   678159

[612 rows x 3 columns]

In [137]:
'''
# DB는 index가 1부터 시작
population_df.index = population_df.index+1
db_url = "mysql+pymysql://root:1234@localhost/mini_proj"
engine = create_engine(db_url)

try:
    conn = engine.connect()
    population_df.to_sql('population_data', con=engine, if_exists='append', index=False)
    print('connected')
except Exception as e:
    print('Exception:', e)
    print('fail')
finally:
    conn.close()
    print('DB close')
'''

connected
DB close